.subtotal {
  border: 1px solid black;
  width: 200px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 30%;
  padding: 50px;
}
.products-added {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
