.title {
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  // position: absolute;

  h1 {
    position: absolute;
    top: 45%;
    z-index: 10;
  }
}

.snow-video {
  position: fixed;
  z-index: 0;
  overflow: hidden;
  margin: 0;
  width: 200%;
  right: 0;
  // left: 0;
  height: 100%;
}
