.title {
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: silver;
    padding: 60px;
    margin: 0 auto;
    opacity: 95%;
    border-radius: 20px;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
  }
  .snow-video {
    position: fixed;
    z-index: 0;
    overflow: hidden;
    margin: 0 auto;
    right: 0;
  }
}
