h1 {
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  padding-left: 45%;
}

.product-detail-container {
  width: 90%;
  // height: 600px;
  // min-width: 150px;
  // max-width: 400px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.3s;
  padding: 50px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: silver;
}
.product-information {
  position: relative;
  justify-content: center;
}
img {
  width: 40%;
}
