h1 {
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  padding-left: 45%;
}

.product-detail-container {
  width: 90%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.3s;
  padding: 50px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: silver;
}
.product-information {
  position: relative;
  justify-content: center;
}
img {
  width: 40%;
}
