html,
body {
  background-color: rgb(48, 131, 239);
  z-index: 0;
}

h1 {
  align-items: center;
  justify-content: center;
}

.video-container-products {
  position: fixed;
  z-index: 0;
  overflow: hidden;
  margin-top: 20%;
  width: 100%;

  video {
    // width: 100%;
    // object-fit: contain;
    // position: fixed;
    // right: 0;
    // top: 0;
    // min-width: 100%;
    // max-width: 100%;
  }
}
