html,
body {
  background-color: rgb(48, 131, 239);
  z-index: 0;
}

h1 {
  align-items: center;
  justify-content: center;
}

.video-container-products {
  position: fixed;
  z-index: 0;
  overflow: hidden;
  margin-top: 20%;
  width: 100%;
}
