.video-container-products {
  position: fixed;
  z-index: 0;
  overflow: hidden;
  margin: 0;
  top: 0;
  width: 100%;
}
.title-and-buttons {
  position: relative;
  z-index: 10;

  .filter-buttons {
    position: relative;
    z-index: 10;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
  margin-top: 50px;
  padding-bottom: 50px;
}
