.number-buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.plus {
  height: 40px;
  align-items: center;
  justify-content: center;
}

.minus {
  height: 40px;
  align-items: center;
  justify-self: center;
}

.add-to-cart {
  margin-top: 5px;
}
