footer {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: silver;
  padding: 25px;
  bottom: 0;
  z-index: 10;
  position: fixed;
  left: 0;
  right: 0;
  margin-top: auto;
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.4);
}
