html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(48, 131, 239);
  z-index: 0;
}

button {
  background-color: silver;
  color: white;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}
button:hover {
  background-color: blue;
}

h1 {
  margin: 25px auto;
  width: fit-content;
}
