html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
}

.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
  margin-top: 50px;
  padding-bottom: 50px;
}
