nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0;
  position: sticky;
  background-color: silver;
  padding: 25px;
  top: 0;
  z-index: 15;
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.4);

  a {
    text-decoration: none;
  }
}
