nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0;
  position: sticky;
  background-color: silver;
  padding: 25px;
  top: 0;
}

a {
  text-decoration: none;
}
