.product-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  height: 550px;
  min-width: 250px;
  max-width: 350px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.3s;
  padding: 25px;
  background-color: silver;
  z-index: 1;

  &:hover {
    transform: scale(0.98);
    cursor: pointer;
    transition: all 0.3x;
  }
  img {
    width: 80%;
    max-height: 300px;
  }
}
